In [26]:
# List of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [27]:
# Add the Pandas dependency
import pandas as pd
# Create a Pandas Series from a list
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [28]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [32]:
#Three separate lists of information on high schools
school_id = [0,1,2,3,4]

school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School"
              ]
type_of_school = ["District", "District", "Charter", " District", "Charter"]

#Initialize a new DataFrame
schools_df = pd.DataFrame()

#Add the list to a new DataFrame
schools_df["School ID"] = school_id
schools_df["Schoole Name"] = school_name
schools_df["School Type"] = type_of_school

#Print the DataFrame
schools_df

   School ID           Schoole Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [38]:
#create a dictionary of information on high schools
high_school_dicts = {'School ID':school_id, 'School Name':school_name, 'School Type': type_of_school}
HighSchool = pd.DataFrame(high_school_dicts)
HighSchool

   School ID            School Name School Type
0          0      Huang High School    District
1          1   Figueroa High School    District
2          2    Shelton High School     Charter
3          3  Hernandez High School    District
4          4    Griffin High School     Charter

In [39]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [40]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [41]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [43]:
#Create a list for School ID, School Name, School Type

School_List = [{"school_id" : 0, "school_name": "Huang High School", "school_type" : "District"},
              {"school_id" : 1, "school_name": "Figueroa High School", "school_type" : "District"},
              {"school_id" : 2, "school_name": "Shelton High School", "school_type" : "District"},
              {"school_id" : 3, "school_name": "Hernandez High School", "school_type" : "District"},
              {"school_id" : 4, "school_name": "Griffin High School", "school_type" : "District"},
              {"school_id" : 5, "school_name": "Wilson High School", "school_type" : "District"},
              {"school_id" : 6, "school_name": "Cabera High School", "school_type" : "District"},
              {"school_id" : 7, "school_name": "Balley High School", "school_type" : "District"},
              {"school_id" : 8, "school_name": "Holden High School", "school_type" : "District"},
              {"school_id" : 9, "school_name": "Pena  High School", "school_type" : "District"},
              {"school_id" : 10, "school_name": "Wright High School", "school_type" : "District"},
              {"school_id" : 11, "school_name": "Rodriguez High School", "school_type" : "District"},
              {"school_id" : 12, "school_name": "Johnson High School", "school_type" : "District"},
              {"school_id" : 13, "school_name": "FordHigh School", "school_type" : "District"},
              {"school_id" : 14, "school_name": "Thomas High School", "school_type" : "District"}]

#Add school list to Panda
HighSchool = pd.DataFrame(School_List)
HighSchool

    school_id            school_name school_type
0           0      Huang High School    District
1           1   Figueroa High School    District
2           2    Shelton High School    District
3           3  Hernandez High School    District
4           4    Griffin High School    District
5           5     Wilson High School    District
6           6     Cabera High School    District
7           7     Balley High School    District
8           8     Holden High School    District
9           9      Pena  High School    District
10         10     Wright High School    District
11         11  Rodriguez High School    District
12         12    Johnson High School    District
13         13        FordHigh School    District
14         14     Thomas High School    District